#shi_nav{display: flex; height: 140px;flex-wrap: wrap; background:white;}
#shi_nav li {width: 50%;  display: flex;align-items: center;justify-content: center;}
#shi_nav li img{ width: 30px ;margin: auto;}
