*{ margin:0; padding:0; }
html,body{ height: 100%; font-size:14px; background: #ebebeb; }
li{ list-style:none; }
img{ display:block; }
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
body{display: flex; flex-direction: column;}
#main{flex: 1;overflow:scroll;}
#root,.App{height: 100%}
.App{display: flex; flex-direction: column;}